@{
    List<ChiTietDotTraLuong> list_dtl =  ViewData["list_dtl"] as List<ChiTietDotTraLuong> ;
           
    string ThangBaoCao = ViewData["ThangBaoCao"] as string;
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<link rel='stylesheet' type='text/css' media='screen' href='~/css/Report/ChiTietDotTraLuong.css'>
<link rel='stylesheet' type='text/css' media='screen' href='~/css/Report/PopupChange.css'>
<div class="CTDTL_container">
            <!-- Code ở đây  -->
            <div class="filter_container">
                <button type="button" class="btn" id="back_btn_id"> <img src="~/image/ReportPage/back.png" height ="20" width="20" /></button>
                <div>
                    <input id="search_input_id" class="btn" type="text" placeholder="Tìm kiếm" height="39">
                    <button type="button" class="btn" id="print_btn_id"> <img src="~/image/ReportPage/print.png" height ="20" width="20" /></button>  
                </div>                
            </div>
            <div class="ChiTietDotTraLuong_container">
                <div class="title">
                    Bảng lương tháng
                    <span id="ThangBaoCao_id">
                        @ThangBaoCao
                    </span>
                </div>
                <div class="table_doanhthu_container">
                    <table class="table_luong" id="table_luong_id">
                        <thead>
                            <div class="header_table">
                                <tr>
                                    <th></th>
                                    <th>Mã nhân viên</th>
                                    <th>Tên nhân viên</th>
                                    <th>CCCD</th>
                                    <th>Chức vụ</th>
                                    <th>Thưởng</th>
                                    <th>Phạt</th>
                                    <th>Lương</th>
                                    <th>Ghi Chú</th>
                                    <th></th>
                                </tr>
                            </div>

                        </thead>
                        <tbody>
                            @*<tr>
                                <td>
                                    <img src="~/image/ReportPage/male.png" height="20px">
                                </td>
                                <td>123</td>
                                <td>Nguyễn văn a</td>
                                <td>1234567123</td>
                                <td>Lễ tân</td>
                                <td>0</td>
                                <td>1000</td>
                                <td>1.000.000</td>
                                <td>Đây là ghi chú</td>
                                <td>
                                    <button id="Edit_btn" type="button">
                                        Sửa
                                    </button>
                                </td>
                            </tr>*@
                            
                    @{
                        if(list_dtl != null)
                        {
                            foreach(var item in list_dtl)
                            {
                                <tr>
                                    <td id="gioitinh_id">  
                                    @{
                                        if(item.GioiTinh == 1)
                                        {
                                                <img src="~/image/ReportPage/male.png" height="20px">
                                            }     
                                            else
                                            {
                                                <img src="~/image/ReportPage/female.png" height="20px">
                                            }
                                            
                                        }
                                                                                       
                                    </td>
                                    <td>@item.MaNhanVien</td>
                                    <td>@item.TenNhanVien</td>
                                    <td>@item.CCCD</td>
                                    <td>@item.TenChucVu</td>
                                    <td>@string.Format("{0:n0}", item.Thuong)</td>
                                    <td>@string.Format("{0:n0}", item.Phat)</td>
                                    <td>@string.Format("{0:n0}", item.SoTien)</td>
                                    <td>@item.GhiChu</td>
                                    <td id="@item.MaDotTraLuong">
                                        <button id="Edit_btn" type="button">
                                            Sửa
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
<form class="staff_info_container" id="staff_info_container_id" method="POST">
    <div class="staff_info">
        <div class="header_staff_info">
            <div class="header_name">CHỈNH SỬA LƯƠNG</div>
            <i class="fa fa-close header_close" style="font-size: 1.5rem;" id="header_close_id"></i>
        </div>
        <div class="body_staff_info">
            <div class="staff_info">
                <div class="maNhanVien_container">
                    <div>Mã nhân viên: </div>
                    <div class="manhanvien font_style" id="manhanvien_id"></div>
                </div>
                <div class="staff_name_container">
                    <div>Họ tên: </div>
                    <div class="staff_name font_style" id="tennhanvien_id">Taalkdasjljdasjlk</div>
                </div>
            </div>
            <div class="Info_Luong_container ">
                <div class="ThuongField field_container">
                    <div class="ThuongLabel">Thưởng</div>
                    <div class="input_container">
                        <input id="ThuongInput_id" type="number" onkeyup="CalcTienLuong(this.value,'thuong')"/>
                    </div>       
                </div>
                <div class="PhatField field_container">
                    <div class="PhatLabel">Phạt</div>
                    <div class="input_container">
                        <input id="PhatInput_id" type="number" onkeyup="CalcTienLuong(this.value,'phat')"/>
                    </div>       
                </div>
                <div class="NoteField field_container">
                    <div class="NoteLabel" id="">Ghi chú</div>
                    <div>
                        <textarea name="" id="NoteInput_id" cols="30" rows="10"></textarea>
                    </div>       
                </div>
                

                <div class="TongLuong_Container">
                    <div class="LuongLabel">Lương</div>
                    <div class="input_container">
                        <input id="TongLuong_input_id" disabled />
                    </div> 
                </div>

            </div>          
        </div>
        <div class="navigate_container">
            <div class="navigate_btn">
                <button class="btn_popup" id="Update_btn" type="button">Cập nhật</button>
                <button class="btn_popup" id="Cancel_btn" type="button">Hủy</button>
            </div>
        </div>

    </div>

</form>
 <script src="~/js/Report/PopupEdit.js"></script>
 <script src="~/js/Report/ChiTietDotTraLuong.js"></script>
