@{
    List<ChiTietBaoCaoDoanhThuThang> list_dt = ViewData["list_dt"] as List<ChiTietBaoCaoDoanhThuThang>;
    string ThangBaoCao = ViewData["ThangBaoCao"] as string;
}

<link rel='stylesheet' type='text/css' media='screen' href='~/css/Report/ChiTietDoanhThuPhong.css'>
<div class="ChiTietDoanhThuThang_container">
            <div class="filter_container">
                <button type="button" class=" btn" id="back_btn_id"> <img src="~/image/ReportPage/back.png" height ="30" width="30" /></button>
                <button type="button" class="btn" id="print_btn_id"> <img src="~/image/ReportPage/print.png" height ="30" width="30" /></button>
                <!-- <i class="fa fa-caret-left header_return_staff_profile_popup_window btn" style="font-size: 1.5rem;" id="header_return_staff_profile_popup_window_id"></i>
                <i class="fa fa-print header_print_staff_profile_popup_window btn" style="font-size: 1.5rem;" id="header_print_staff_profile_popup_window_id"></i>
             -->
            </div>
            <div class="ChiTietDoanhThu_container" id="ChiTietDoanhThu_container_id">
                <div class="header_report">
                    <div class="avatar_field_staff_profile_popup_window">
                        <img src="~/image/Layout/background.jpg" id="avatar_img_staff_profile_popup_window">
                    </div>
                    <div class="detail_header_report">
                        <div class="name_hotel">Gloria</div>
                        <div class="address_hotel">Địa chỉ: Khu phố 6, Linh Trung, Thủ Đức, Hồ Chí Minh</div>
                        <div class="Sdt_email">
                            <div class="sdt_hotel col col-half">SĐT: 0123456789</div>
                            <div class="mail_hotel col col-half">Email: gloria@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="title_report center_page title">Bảng báo cáo doanh thu các loại phòng</div>
                <div class="date_report center_page title">Tháng @ThangBaoCao</div>
                <div class="table_doanhthu_container">
                    <table class="table_doanhthu">
                        <thead>
                            <div class="header_table">
                                <tr>
                                    <th>#</th>
                                    <th>Loại phòng</th>
                                    <th>Doanh Thu</th>
                                    <th>Tỉ lệ</th>
                                </tr>
                            </div>

                        </thead>
                        <tbody>
                          

                            @{
                                if (list_dt != null)
                                {

                                    for (int i = 0; i < list_dt.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@list_dt[i].TenLoaiPhong</td>
                                            <td>@list_dt[i].SoTien.ToString() VNĐ</td>
                                            <td>@list_dt[i].TiLe.ToString()</td>
                                        </tr>
                                    }
                                }
                            }
                            
                        </tbody>
                    </table>
                </div>
                <div class="date center_page right_align">TP Hồ Chí Minh, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</div>
                <div class="position center_page right_align">Giám đốc tài chính</div>
                <div class="signature center_page right_align">Nguyễn Văn B</div>
            </div>
        </div>

<script src="~/js/Report/ChiTietDoanhThuPhong.js"></script>