<link rel='stylesheet' type='text/css' media='screen' href='~/css/ListStaff/ListStaff.css'>
@{
    Database db = new Database();
    List<NhanVien> listNhanVien = ViewData["listNhanVien"] as List<NhanVien>;
    listNhanVien = db.getAllDetailStaff();
    List<ChucVu> listChucVu = ViewData["listChucVu"] as List<ChucVu>;
    listChucVu = db.getAllDetailRoles();
    NhanVien nv = new NhanVien();
  

}
  <div class="tracuunv_main_window">
                <div id="tracuunhanvien_tool_bar" class="tracuu_header">
                    <div class="add_role tracuu_header">
                        <button type="button" class="tracuu_btn" id="tracuunv"> + Thêm mới</button>
                        <select name="" id="TenChucVu_">
                @{
                                <option value="">All roles</option>
                    foreach (var pi in listChucVu)
                    {
                       <option value=@pi.TenChucVu>@pi.TenChucVu</option>
                    }
                }


            </select>
        </div>

        <div class="search tracuu_header">
            <input type="text" placeholder="Tìm kiếm" id="TimKiemStaff">  
            <i class="fa fa-search"></i>
        </div>
    </div>

    <div class="main_window__table_nv">
        <table class="list_nv" id="myTableStaff">
            <!-- Nhóm các column -->
            <colgroup>
                <col span="1" style="width: 5%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 5%">
            </colgroup>

            <!-- Content thead, tbody -->

            <thead class="list_nv_heading">
                <tr>
                    <th scope="col" class="heading_cell"></th>
                    <th scope="col" class="heading_cell">Mã nhân viên</th>
                    <th scope="col" class="heading_cell">Tên nhân viên</th>
                    <th scope="col" class="heading_cell">CCCD</th>
                    <th scope="col" class="heading_cell">Ngày sinh</th>
                    <th scope="col" class="heading_cell">Email</th>
                    <th scope="col" class="heading_cell">Chức vụ</th>
                    <th scope="col" class="heading_cell">Số điện thoại</th>
                    <th scope="col" class="heading_cell">Lương</th>
                    <th scope="col" class="heading_cell"></th>
                </tr>
            </thead>
            <tbody class="list_nv_body">

                @{

                    for(int k = 0 ; k <= listNhanVien.Count - 1; k++)
                    {
                        var @pi = listNhanVien[k];
                                            <tr>
                                @{if (@pi.GioiTinh != 1)
            {
                                                        <td class="data_cell"><i class="fa fa-venus"></i></td>
            }
                                }
                                @{if(@pi.GioiTinh == 1)
            {
                                                        <td class="data_cell"><i class="fa fa-mars"></i></td>
            }
                                }
                     
                            <td class="data_cell"> @pi.MaNhanVien </td>
                            <td class="data_cell">@pi.HoTen</td>
                            <td class="data_cell">@pi.CCCD</td>
                            <td class="data_cell">@pi.NgaySinh.ToLongDateString()</td>
                            <td class="data_cell">@pi.Email</td>
                            <td class="data_cell">@pi.TenChucVu</td>
                            <td class="data_cell">@pi.SoDienThoai</td>
                            <td class="data_cell">@pi.Luong</td>
                            <td class="data_cell" >
                                <button class="nv_body_item__angle_button btn">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button> 
                            </td>
                        </tr>
                    }
                    }

                        </tbody>
                    </table>
                </div>
            </div>
      
     <!-- popup_add_staff -->
        <form name="formAddStaff" class="staff_profile_popup_add_window_container" id="staff_profile_popup_add_window_container_id" method="POST">
            <div class="staff_profile_popup_add_window">
                <div class="header_staff_profile_popup_add_window">
                    <div class="header_name_staff_profile_popup_add_window">THÔNG TIN NHÂN VIÊN</div>
                    <i class="fa fa-close header_close_staff_profile_popup_add_window" style="font-size: 1.5rem;" id="header_close_staff_profile_popup_add_window_id"></i>
                </div>

                <div class="body_staff_profile_popup_add_window">
                    <div class="content_staff_profile_popup_add_window">
                         <div class="avatar_field_staff_profile_popup_add_window">
                            <img src="~/image/Layout/account.png" id="HinhAnh"
                                 style="filter: invert(1);">
                            <button id="btn_change_avatar_staff_profile_popup_add_window">Đổi</button>
                        </div>


                        <div class="information_field_staff_profile_popup_add_window">
                            <div class="personal_info_staff_profile_popup_add_window">
                                <div class="name_part_info_staff_profile_popup_add_window">Thông tin cá nhân</div>
                                
                                <div class="data_info_staff_profile_popup_add_window" >
                                    <p>Họ tên:</p>
                                    <input type="text" class="input_data_info_staff_profile_popup_add_window" id="HoTen" name="HoTen" required>
                                </div>
                                 <div class="data_info_staff_profile_popup_add_window" >
                                    <p>Mã nhân viên:</p>
                                    <input type="text" class="input_data_info_staff_profile_popup_add_window" id="MaNhanVien" name="MaNhanVien" required>
                                </div>
                                 <div class="data_info_staff_profile_popup_add_window" >
                                    <p>Mật khẩu:</p>
                                    <input type="text" class="input_data_info_staff_profile_popup_add_window" id="MatKhau" name="MatKhau" required>
                                </div>

                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>CCCD:</p>
                                    <input type="number" class="input_data_info_staff_profile_popup_add_window" name="CCCD" id="CCCD" required>
                                </div>

                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Số điện thoại:</p>
                                    <input type="number" class="input_data_info_staff_profile_popup_add_window" name="SoDienThoai" id = "SoDienThoai" required>
                                </div>

                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Ngày sinh:</p>
                                    <input type="date" class="input_data_info_staff_profile_popup_add_window" name="NgaySinh" id="NgaySinh" required>
                                </div>
                                 
                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Email:</p>
                                    <input type="email" class="input_data_info_staff_profile_popup_add_window" name="Email" id="Email" required>
                                </div>
                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Giới tính:</p>
                                    <select class="input_data_info_staff_profile_popup_add_window" name="GioiTinh" id="GioiTinh">
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="work_info_staff_profile_popup_add_window">
                                <div class="name_part_info_staff_profile_popup_add_window">Thông tin nhân viên</div>
                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Chức vụ:</p>
                                    <select class="input_data_info_staff_profile_popup_add_window" name="MaChucVu" id="MaChucVu" required>
                                           @{
                                                foreach (var pi in listChucVu)
                                                {
                                                    <option value=@pi.MaChucVu>@pi.TenChucVu</option>
                                                }
                                            }
                                    </select>
                                </div>
                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Ngày vào làm:</p>
                                    <input type="date" class="input_data_info_staff_profile_popup_add_window" name="NgayVaoLam" id="NgayVaoLam" required>
                                </div>
                                <div class="data_info_staff_profile_popup_add_window">
                                    <p>Lương:</p>
                                    <input type="number" class="input_data_info_staff_profile_popup_add_window" name="Luong" id="Luong" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_staff_profile_popup_add_window">
                    <button id="add_info_popup_add_window_staff_button">Thêm</button>
                    <button id = "close_popup_add_window_staff_button">Thoát</button>
                </div>
            </div>
        </form>
             
         <!-- Popup xem thông tin cá nhân của nhân viên - begin -->  
         <!--<div class="staff_profile_popup_window_container_" id="staff_profile_popup_window_container_id_">
            <div class="staff_profile_popup_window_">
                <div class="header_staff_profile_popup_window_">
                    <div class="header_name_staff_profile_popup_window_">THÔNG TIN NHÂN VIÊN</div>
                    <i class="fa fa-close header_close_staff_profile_popup_window_" style="font-size: 1.5rem;"
                       id="header_close_staff_profile_popup_window_id_"></i>
                </div>
                <div class="body_staff_profile_popup_window_">
                    <div class="content_staff_profile_popup_window_">
                        <div class="avatar_field_staff_profile_popup_window_">
                            <img src="~/image/Layout/account.png" id="avatar_img_staff_profile_popup_window_"
                                 style="filter: invert(1);">
                            <button id="btn_change_avatar_staff_profile_popup_window_">Đổi</button>
                        </div>
                        <div class="information_field_staff_profile_popup_window_">
                            <div class="personal_info_staff_profile_popup_window_">
                                <div class="name_part_info_staff_profile_popup_window_">Thông tin cá nhân</div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Họ tên:</p>
                                    <input type="text" class="input_data_info_staff_profile_popup_window_"
                                >

                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>CCCD:</p>
                                    <input type="text" class="input_data_info_staff_profile_popup_window_"
                                           >
                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Số điện thoại:</p>
                                    <input type="tel" class="input_data_info_staff_profile_popup_window_"
                                        >
                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Ngày sinh:</p>
                                    <input type="date" class="input_data_info_staff_profile_popup_window_"
                                     >
                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Email:</p>
                                    <input type="email" class="input_data_info_staff_profile_popup_window_"
                                     >
                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Giới tính:</p>
                                    <select class="input_data_info_staff_profile_popup_window_">
                                        { if (nv.GioiTinh == 1)
                                            {
                                                                    <option value='1' selected>Nam</option>
                                                                    <option value='0'>Nữ</option>
                                            }
                                            else
                                            {
                                                                    <option value='1'>Nam</option>
                                                                    <option value='0' selected>Nữ</option>
                                            }
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="work_info_staff_profile_popup_window_">
                                <div class="name_part_info_staff_profile_popup_window_">Thông tin nhân viên</div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Mã chức vụ:</p>
                                    <select class="input_data_info_staff_profile_popup_window_" disabled>
                                        <option selected>nv.MaChucVu</option>
                                    </select>
                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Lương:</p>
                                    <input type="number" class="input_data_info_staff_profile_popup_window_" disabled
                                           value=nv.Luong>
                                </div>
                                <div class="data_info_staff_profile_popup_window_">
                                    <p>Ngày vào làm:</p>
                                    <input type="date" class="input_data_info_staff_profile_popup_window_" disabled
                                           value=nv.NgayVaoLam.ToString("yyyy-MM-dd")>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="function_field_staff_profile_popup_window_">
                        <button id="btn_changepass_admin_in_staff_profile_popup_window_id_">Đổi mật khẩu</button>
                        <div>
                            <button id="btn_save_admin_in_staff_profile_popup_window_id_">Lưu</button>
                            <button id="btn_cancel_admin_in_staff_profile_popup_window_id_">Thoát</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

 <script src="~/js/ListStaff/ListStaff.js">
  
 </script>