<link rel='stylesheet' type='text/css' media='screen' href='~/css/ListRoom/ListRoom.css'>

@{
    Database db = new Database();
    Database db2 = new Database();
    List<LoaiPhong> listLoaiPhong = ViewData["listLoaiPhong"] as List<LoaiPhong>;
    List<Phong> listPhong = ViewData["listPhong"] as List<Phong>;
    listPhong = db.getAllDetailRoom();
    listLoaiPhong = db2.getAllRoomStyle();
}
 <div class="tracuuphong_main_window" method="post">

                <div id="tracuuphong_tool_bar" class="tracuu_header">
                    <div class="add_role tracuu_header">
                        <button type="button" class="tracuu_btn" id="tracuuphong"> + Thêm mới</button>
                    </div>

                    <select name="" id="TrangThai_">
                         <option value="">Tất cả trạng thái</option>
            @{

                for(int k = 0; k<= 5; k++)
                {

                    
                        var trangThai = "";
                        switch (k)
                        {

                            case 0:
                                {
                                    trangThai = "Phòng trống";
                                    break;
                                }
                            case 1:
                                {
                                    trangThai = "Đang thuê";
                                    break;
                                }
                            case 2:
                                {
                                    trangThai = "Đang sửa chữa";
                                    break;
                                }
                            case 3:
                                {
                                    trangThai = "Khách ra ngoài";
                                    break;
                                }
                            case 4:
                                {
                                    trangThai = "Đang dọn dẹp";
                                    break;
                                }
                            case 5:
                                {
                                    trangThai = "Không hoạt động";
                                    break;
                                }

                        }
                    
                                                                        <option value=@trangThai>@trangThai</option>

                }
            }


            </select>
                    <select name="" id="TenLoaiPhong_">
                @{
                                                                        <option value="">Tất cả loại phòng</option>
                    foreach (var pi in listLoaiPhong)
                    {
                                                                        <option value=@pi.TenLoaiPhong>@pi.TenLoaiPhong</option>
                }
            }


        </select>
        <div class="search tracuu_header">
            <input type="text" placeholder="Tìm kiếm" id="TimKiem">  
            <i class="fa fa-search"></i>
        </div>
    </div>

    <div class="main_window__table_room">
        <table class="list_room" id="myTable">
            <!-- Nhóm các column -->
            <colgroup>
                <col span="1" style="width: 20%">
                <col span="1" style="width: 20%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 20%">
                <col span="1" style="width: 20%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 5%">
            </colgroup>

            <!-- Content thead, tbody -->
            <thead class="list_room_heading">
                <tr>
                    <th scope="col" class="heading_cell">Mã phòng</th>
                    <th scope="col" class="heading_cell">Loại phòng</th>
                    <th scope="col" class="heading_cell">Tầng</th>
                    <th scope="col" class="heading_cell">Trạng thái</th>
                    <th scope="col" class="heading_cell">Ghi chú</th>
                    <th scope="col" class="heading_cell"></th>
                    <th scope="col" class="heading_cell"></th>
                </tr>
            </thead>

            <tbody class="list_room_body">
                @{

                    if (listPhong != null)
                    {
                        for (int k = 0; k <= listPhong.Count - 1; k++)                           
                        {
                            var @pi = listPhong[k];
                            var trangThai = "Phòng trống";
                            switch (@pi.TrangThai)
                            {

                                case 0:
                                    {
                                        trangThai = "Phòng trống";
                                        break;
                                    }
                                case 1:
                                    {
                                        trangThai = "Đang thuê";
                                        break;
                                    }
                                case 2:
                                    {
                                        trangThai = "Đang sửa chữa";
                                        break;
                                    }
                                case 3:
                                    {
                                        trangThai = "Khách ra ngoài";
                                        break;
                                    }
                                case 4:
                                    {
                                        trangThai = "Đang dọn dẹp";
                                        break;
                                    }
                                case 5:
                                    {
                                        trangThai = "Không hoạt động";
                                        break;
                                    }

                            }

                                <tr >
                                    @{
                                    if (@pi.MaPhong.Length == 3)
                                    {
                                                <td class="data_cell">@(0+pi.MaPhong)</td>
                                    }
                                    else
                                    {
                                                <td class="data_cell">@pi.MaPhong</td>
                                    }
                                    }
                                                  
                                                      
                                                        <td class="data_cell">@pi.TenLoaiPhong</td> 
                                                        <td class="data_cell">@pi.Tang</td>
                                                        <td class="data_cell">@trangThai</td>
                                                        <td class="data_cell">@pi.GhiChu</td>
                                                                                
                                                        <td class="data_cell">
                                                            <button class="room_body_item__angle_button btn sua" onclick="viewInfoRoom(@pi.MaPhong.ToString())"  style="cursor:pointer" >
                                                                Sửa 
                                                                                  
                                                            </button>
                                                        </td> 
                                                        <td class="data_cell" id="@pi.MaPhong">
                                                            <button class="room_body_item__angle_button btn xoa" type="submit" id="del_room" style="cursor:pointer">
                                                                Xóa
                                                            </button>
                                                        </td> 
                                                    </tr>
                        }
                    }
                }
                         
                        </tbody>
                    </table>
                </div>

  </div>

          <!-- popup_room -->
        <div class="room_profile_popup_window_container" id="room_profile_popup_window_container_id"  method = "POST">
          <div class="room_profile_popup_window">
                <div class="header_room_profile_popup_window">
                    <div class="header_name_room_profile_popup_window">Thông tin phòng</div>
                    <i class="fa fa-close header_close_room_profile_popup_window" style="font-size: 1.5rem;" id="header_close_room_profile_popup_window_id"></i>
                </div>

                <div class="body_room_profile_popup_window">
                    <div class="content_room_profile_popup_window">
                        <div class="code_room_profile_popup_window" id="code_room_profile_popup_window">
                            <p>Mã phòng</p>

                            <input type="text" name="MaPhong" id="MaPhong" disabled>

                        </div>
                        
                        <div class="information_field_room_profile_popup_window">
                            <div class="info_room_profile_popup_window">
                                <div class="name_part_info_room_profile_popup_window">Thông tin phòng</div>
                            </div>
                            
                            <div class="data_info_room_profile_popup_window_container">

                                <div class="data_info_room_profile_popup_window">
                                
                                    <p class="require" id="require_Tang">Tầng</p>
                                
                          
                                    <input type="number" class="input_data_info_room_profile_popup_window" name="Tang" id="Tang" required>
                                    
                                </div>

                                <div class="data_info_room_profile_popup_window">
                                    <p  class="require" id="require_TrangThai">Trạng thái</p>

                                    <select class="input_data_info_room_profile_popup_window" name="TrangThai" id="TrangThai"> 

                                        <option value=0>Phòng trống</option>
                                        <option value=1>Đang thuê </option>
                                        <option value=2>Đang sửa chữa </option>
                                        <option value=3>Khách ra ngoài </option>
                                        <option value=4>Đang dọn dẹp </option>
                                        <option value=5>Không hoạt động </option>

                                    </select>
                                 
                                </div>

                                <div class="data_info_room_profile_popup_window">
                       
                                    <p  class="require" id="require_SoPhong">Số phòng </p>                                  
                            

                                    <input type="number" id="SoPhong" class="input_data_info_room_profile_popup_window" name="SoPhong" required>
                                </div>

                                <div class="data_info_room_profile_popup_window">
                                    <p>Ghi chú</p>
                                    <input type="text" name="GhiChu" id="GhiChu"  placeholder="Ghi chú" class="input_data_info_room_profile_popup_window">
                                </div>

                                <div class="data_info_room_profile_popup_window">
                                    <p  class="require" id="require_LoaiPhong">Loại phòng</p>
                                    <select name="LoaiPhong" id="LoaiPhong" class="input_data_info_room_profile_popup_window">
                                @{

                                    foreach (var pi in listLoaiPhong)
                                    {

                                                                                            <option value=@pi.MaLoaiPhong>@pi.TenLoaiPhong</option>
                                                  
                                    }                     
                                }
     
                                    </select>
                                </div>
                                 <p class="ChuThich"></p>
                            </div>
                               
                        </div>
                    
                    </div>
                    
                </div>

                <div class="footer_room_profile_popup_window">
                    <button  id="add_info_popup_window_room_button"  name="btn_add_room"> Thêm </button>
                    <button   id="edit_button_room_popup" type="submit" onclick="Update_Info_Room_()"> Sửa </button>
                    <button id = "close_popup_window_room_button">Thoát</button>
                </div>
            </div>
           
        </div>
 <style>
  .require:after {
    flex-direction:row;
    content:"*";
    color: red;
     font-style: italic;
  }
  .ChuThich:after {
    flex-direction:row;
    content:" *: bắt buộc";
    color: red;
     font-style: italic;
  }
</style>



  <script src="~/js/ListRoom/ListRoom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

<script>
       
    function Update_Info_Room_() {
    {
        if ($('#room_profile_popup_window_container_id').hasClass("show")) {

            let thongTinPhong = $('.data_info_room_profile_popup_window input');
            let maPhong = $('.code_room_profile_popup_window input');

            let selectorPhong = $('.data_info_room_profile_popup_window select');

            let form_DataPhong = new FormData();

            form_DataPhong.append("maPhong", maPhong[0].value);

            form_DataPhong.append("tang", thongTinPhong[0].value);
            form_DataPhong.append("soPhong", thongTinPhong[1].value);
            form_DataPhong.append("ghiChu", thongTinPhong[2].value);

            form_DataPhong.append("trangThai", selectorPhong[0].value);
            form_DataPhong.append("maLoaiPhong", selectorPhong[1].value);


            let xhr_Update_Data_Room = new XMLHttpRequest();
            let url_Update_Data_Room = "https://localhost:5001/Home/UpdateRoom";
            xhr_Update_Data_Room.open("POST", url_Update_Data_Room, true);
            xhr_Update_Data_Room.timeout = 5000;
            xhr_Update_Data_Room.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let result = this.responseText;

                }
            }
            xhr_Update_Data_Room.send(form_DataPhong);



            toastMessage({ title: 'Thành công', message: 'Thông tin phòng đã được cập nhật', type: 'success', duration: 3500 });
        }
    }
}
        
 </script>

     