@{
    ThongKeDoanhThu thongke = ViewData["thongke"] as ThongKeDoanhThu;
}

<link rel='stylesheet' type='text/css' media='screen' href='~/css/Report/ThongKeDoanhThu.css'>
<div class="ThongKeDoanhThu_container">
           <div class="header_thongke_container">
                <ul class="navigate">
                    <li class="btn radius_corner" id="datepicker_btn">
                        <!-- <a href="">01/2021</a> -->
                        <input type="month" id="month_picker_id" max="@DateTime.Now.ToString("yyyy-MM")" value="@DateTime.Now.ToString("yyyy-MM")">    
                    </li>
                    <li class="btn radius_corner" id="ShowReport_btn_id">Xem báo cáo</li>
                    <li class="btn radius_corner" id="PrintReport_btn_id">In báo cáo</li>
                </ul> 
            </div>
            <div class="ChiTietDoanhThu_container" id="ThongKeDoanhThu_container_id">
                <div class="header_report">
                    <div class="~/image/ReportPage/account.png" id="avatar_field_staff_profile_popup_window" style="filter: invert(1);"> 
                    </div>
                    <div class="detail_header_report">
                        <div class="name_hotel">Gloria</div>
                        <div class="address_hotel">Địa chỉ: 3730 South Las Vegas Boulevard Las Vegas, NV 89158 </div>
                        <div class="Sdt_email">
                            <div class="sdt_hotel col col-half">SĐT: 0123456789</div>
                            <div class="mail_hotel col col-half">Email: gloria@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="title_report center_page title">Bảng báo cáo doanh thu các loại phòng</div>
                <div class="date_report center_page title">Tháng @thongke.ThangBaoCao.ToString("MM/yyyy")</div>
                <div class="table_content">
                    <div class="table_Thu_container">
                        <div class="table_ThuLabel label">Bảng thu</div>
                        <table class="table_Thu table">
                            <thead>
                                <div class="header_table">
                                    <tr>
                                        <th>#</th>
                                        <th>Loại thu</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </div>

                            </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Phòng khách sạn</td>
                                        <td> @thongke.TienThu VNĐ</td>
                                        
                                    </tr>
                 
                                </tbody>
                         </table>
                    </div>
                    <div class="table_Chi_container">
                        <div class="table_ChiLabel label">Bảng chi</div>
                        <table class="table_Chi table">
                            <thead>
                                <div class="header_table">
                                    <tr>
                                        <th>#</th>
                                        <th>Loại chi</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </div>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td> Lương nhân viên </td>
                                    <td> @thongke.TienChi VNĐ</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="footter_report">
                    <div id="thuchi_id">
                        <div id="TongThu_id" class="font_size_template">-Tổng thu: @thongke.TienThu VNĐ</div>
                        <div id="TongChi_id" class="font_size_template">-Tổng chi: @thongke.TienChi VNĐ</div>
                        <div id="LoiNhuan_id" class="font_size_template">-Lợi nhuận: @thongke.LoiNhuan VNĐ</div>
                    </div>
                    <div id="signature_id"> 
                        <div class="date center_page right_align">TP Hồ Chí Minh, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</div>
                        <div class="position center_page right_align">Giám đốc tài chính</div>
                        <div class="signature center_page right_align">Nguyễn Văn B</div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <script src="~/js/Report/ThongKeDoanhThu.js"></script>